<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Authorized</title>
</head>
<body>
    <hgroup>
        <h1>Not Authorized.</h1>
        <h2>You not authorized to view these pages..</h2>
    </hgroup>
</body>
</html>
