@using AttendanceTracker.Controllers;
@model  IEnumerable<AttendanceTracker.Models.PlayerAttendance>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{var controller = (HomeController)ViewContext.Controller;}
<br />
<span class="validation alert-danger"></span>
<input type="text" id="password" class="form-control" placeholder="password">
<input type="text" id="nameInput" class="form-control" placeholder="Name">
<br />
<input type="button" class="btn btn-success" id="btnGet" value="Submit" onclick="AddPlayerRoster();" />

<hr />

<div id="messagesDiv" class="searchable">
    <table class="table hover" id="attendance">
        <thead><tr><th>Name</th><th></th></tr></thead>
        <tbody>
            @{

                foreach (var x in controller.GetCurrentRoster())
                {
                    <tr>
                        <td>@x.Name</td>
                        <td><input type="button" class="btn btn-danger" onclick='DeletePlayerRoster("@x.Id");' value="Delete" /></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>